USE [EastencherProductDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Apps]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Apps](
	[AppID] [int] IDENTITY(1,1) NOT NULL,
	[AppName] [nvarchar](max) NOT NULL,
	[AppRoute] [nvarchar](max) NULL,
	[ClientId] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Apps] PRIMARY KEY CLUSTERED 
(
	[AppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthTokenHistories]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthTokenHistories](
	[TokenHistoryID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Token] [nvarchar](max) NOT NULL,
	[EmailAddress] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[ExpireOn] [datetime2](7) NOT NULL,
	[UsedOn] [datetime2](7) NULL,
	[IsUsed] [bit] NOT NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_AuthTokenHistories] PRIMARY KEY CLUSTERED 
(
	[TokenHistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Id] [nvarchar](450) NOT NULL,
	[Secret] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ApplicationType] [int] NOT NULL,
	[Active] [bit] NOT NULL,
	[RefreshTokenLifeTime] [int] NOT NULL,
	[AllowedOrigin] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentMaster]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentId] [nvarchar](max) NULL,
	[DocumentType] [nvarchar](max) NULL,
	[DocumentExtention] [nvarchar](max) NULL,
	[DocumentName] [nvarchar](max) NULL,
	[DocumentPath] [nvarchar](max) NULL,
	[DocumentURL] [nvarchar](max) NULL,
	[DocumentNameId] [int] NULL,
	[DocumentXeroxOrOriginal] [nvarchar](max) NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[InitiationId] [int] NULL,
	[DocumentReadStatus] [bit] NULL,
 CONSTRAINT [PK_DocumentMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmailConfiguration]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmailConfiguration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ServerAddress] [nvarchar](max) NOT NULL,
	[MailAddress] [nvarchar](max) NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[IncomingIMAPPort] [nvarchar](max) NOT NULL,
	[IncomingPOP3Port] [nvarchar](max) NOT NULL,
	[OutgoingPort] [nvarchar](max) NOT NULL,
	[IsSSL] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_EmailConfiguration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MailBodyConfigurations]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MailBodyConfigurations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MailType] [nvarchar](max) NOT NULL,
	[MailBody] [nvarchar](max) NOT NULL,
	[MailSubject] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_MailBodyConfigurations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsAndNotifications]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsAndNotifications](
	[NID] [int] IDENTITY(1,1) NOT NULL,
	[NTital] [nvarchar](max) NULL,
	[NDate] [datetime2](7) NULL,
	[NDescription] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_NewsAndNotifications] PRIMARY KEY CLUSTERED 
(
	[NID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[otpConfiguration]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[otpConfiguration](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[method] [nvarchar](max) NULL,
	[send_to] [nvarchar](max) NULL,
	[msg] [nvarchar](max) NULL,
	[msg_type] [nvarchar](max) NULL,
	[userid] [nvarchar](max) NULL,
	[auth_scheme] [nvarchar](max) NULL,
	[password] [nvarchar](max) NULL,
	[v] [nvarchar](max) NULL,
	[format] [nvarchar](max) NULL,
 CONSTRAINT [PK_otpConfiguration] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PasswordResetOtpHistorys]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PasswordResetOtpHistorys](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[MobileNo] [nvarchar](max) NULL,
	[OTP] [nvarchar](max) NOT NULL,
	[OTPIsActive] [bit] NOT NULL,
	[CreatedBy] [nvarchar](max) NOT NULL,
	[CreatedOn] [datetime2](7) NULL,
	[ExpiryOn] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PasswordResetOtpHistorys] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Price] [decimal](18, 2) NULL,
	[IsActive] [bit] NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoleAppMaps]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoleAppMaps](
	[RoleID] [uniqueidentifier] NOT NULL,
	[AppID] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_RoleAppMaps] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[AppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [uniqueidentifier] NOT NULL,
	[RoleName] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ClientId] [nvarchar](max) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLoginHistory]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLoginHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[LoginTime] [datetime2](7) NOT NULL,
	[LogoutTime] [datetime2](7) NULL,
 CONSTRAINT [PK_UserLoginHistory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoleMaps]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoleMaps](
	[UserID] [uniqueidentifier] NOT NULL,
	[RoleID] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_UserRoleMaps] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 14-04-2026 5.25.35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [uniqueidentifier] NOT NULL,
	[RoleID] [nvarchar](max) NULL,
	[RoleName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[FullName] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[EmailStatus] [bit] NULL,
	[Password] [nvarchar](max) NULL,
	[Pass1] [nvarchar](max) NULL,
	[Pass2] [nvarchar](max) NULL,
	[Pass3] [nvarchar](max) NULL,
	[Pass4] [nvarchar](max) NULL,
	[Pass5] [nvarchar](max) NULL,
	[LastChangedPassword] [nvarchar](max) NULL,
	[IsLocked] [bit] NOT NULL,
	[IsLockDuration] [datetime2](7) NULL,
	[Attempts] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime2](7) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[ModifiedOn] [datetime2](7) NULL,
	[ModifiedBy] [nvarchar](max) NULL,
	[ClientId] [nvarchar](max) NULL,
	[ProfilePath] [nvarchar](max) NULL,
	[PicDbPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260414075602_InitialCreate', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[Apps] ON 

INSERT [dbo].[Apps] ([AppID], [AppName], [AppRoute], [ClientId], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (1, N'Dashboard', N'/dashboard', N'EastencherApp', 1, CAST(N'2026-04-14T13:40:02.2966038' AS DateTime2), N'Admin', CAST(N'2026-04-14T08:09:17.6620000' AS DateTime2), N'string')
INSERT [dbo].[Apps] ([AppID], [AppName], [AppRoute], [ClientId], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (2, N'User Management', N'/users', N'EastencherApp', 1, CAST(N'2026-04-14T13:40:36.0048430' AS DateTime2), N'Admin', CAST(N'2026-04-14T08:09:17.6620000' AS DateTime2), N'string')
INSERT [dbo].[Apps] ([AppID], [AppName], [AppRoute], [ClientId], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'Products Management', N'/products', N'EastencherApp', 1, CAST(N'2026-04-14T13:41:03.5175078' AS DateTime2), N'Admin', CAST(N'2026-04-14T08:09:17.6620000' AS DateTime2), N'string')
SET IDENTITY_INSERT [dbo].[Apps] OFF
GO
INSERT [dbo].[Clients] ([Id], [Secret], [Name], [ApplicationType], [Active], [RefreshTokenLifeTime], [AllowedOrigin]) VALUES (N'EastencherApp', N'5YV7M1r981yoGhELyB84aC+KiYksxZf1OY3++C1CtRM=', N'Dotnet 8 Api Service Application', 0, 1, 7200, N'*')
GO
SET IDENTITY_INSERT [dbo].[MailBodyConfigurations] ON 

SET IDENTITY_INSERT [dbo].[MailBodyConfigurations] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (3, N'Smartphone', N'Samsung Galaxy S21', CAST(75000.00 AS Decimal(18, 2)), 1, CAST(N'2026-04-14T16:22:38.8670059' AS DateTime2), N'c96464d9-6dec-41b0-86fa-58fb5c10bcbb', CAST(N'2026-04-14T16:28:05.0007820' AS DateTime2), N'c96464d9-6dec-41b0-86fa-58fb5c10bcbb')
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (4, N'Headphones', N'Sony WH-1000XM5 Noise Cancelling', CAST(29999.00 AS Decimal(18, 2)), 1, CAST(N'2026-04-14T16:23:58.0697380' AS DateTime2), N'c96464d9-6dec-41b0-86fa-58fb5c10bcbb', NULL, NULL)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (5, N'Smart Watch', N'Apple Watch Series 9', CAST(45000.00 AS Decimal(18, 2)), 1, CAST(N'2026-04-14T16:24:23.3611488' AS DateTime2), N'c96464d9-6dec-41b0-86fa-58fb5c10bcbb', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[RoleAppMaps] ([RoleID], [AppID], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (N'7b4a9a09-0b4a-4884-810b-3a37d06a4510', 1, 1, CAST(N'2026-04-14T13:42:50.3793810' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[RoleAppMaps] ([RoleID], [AppID], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (N'7b4a9a09-0b4a-4884-810b-3a37d06a4510', 4, 1, CAST(N'2026-04-14T13:42:50.3879924' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[RoleAppMaps] ([RoleID], [AppID], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (N'3a3081d1-85e5-4360-a76d-9f0f56619275', 1, 1, CAST(N'2026-04-14T13:42:17.6392289' AS DateTime2), NULL, NULL, NULL)
GO
INSERT [dbo].[Roles] ([RoleID], [RoleName], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [ClientId]) VALUES (N'7b4a9a09-0b4a-4884-810b-3a37d06a4510', N'User', 1, CAST(N'2026-04-14T13:42:50.3666993' AS DateTime2), N'Admin', NULL, NULL, N'EastencherApp')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy], [ClientId]) VALUES (N'3a3081d1-85e5-4360-a76d-9f0f56619275', N'Admin', 1, CAST(N'2026-04-14T13:42:17.5834154' AS DateTime2), N'Admin', NULL, NULL, N'EastencherApp')
GO
SET IDENTITY_INSERT [dbo].[UserLoginHistory] ON 

INSERT [dbo].[UserLoginHistory] ([ID], [UserID], [UserName], [Email], [LoginTime], [LogoutTime]) VALUES (1, N'72cc516f-f16f-4f87-94b7-93fdd60a66b0', N'User1', N'user1@gmail.com', CAST(N'2026-04-14T13:52:50.3572745' AS DateTime2), NULL)
INSERT [dbo].[UserLoginHistory] ([ID], [UserID], [UserName], [Email], [LoginTime], [LogoutTime]) VALUES (2, N'c96464d9-6dec-41b0-86fa-58fb5c10bcbb', N'Admin', N'Admin@gmail.com', CAST(N'2026-04-14T14:01:46.6017853' AS DateTime2), NULL)
INSERT [dbo].[UserLoginHistory] ([ID], [UserID], [UserName], [Email], [LoginTime], [LogoutTime]) VALUES (3, N'c96464d9-6dec-41b0-86fa-58fb5c10bcbb', N'Admin', N'Admin@gmail.com', CAST(N'2026-04-14T14:37:34.3455330' AS DateTime2), NULL)
SET IDENTITY_INSERT [dbo].[UserLoginHistory] OFF
GO
INSERT [dbo].[UserRoleMaps] ([UserID], [RoleID], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (N'c96464d9-6dec-41b0-86fa-58fb5c10bcbb', N'3a3081d1-85e5-4360-a76d-9f0f56619275', 1, CAST(N'2026-04-14T13:44:39.8527259' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[UserRoleMaps] ([UserID], [RoleID], [IsActive], [CreatedOn], [CreatedBy], [ModifiedOn], [ModifiedBy]) VALUES (N'72cc516f-f16f-4f87-94b7-93fdd60a66b0', N'7b4a9a09-0b4a-4884-810b-3a37d06a4510', 1, CAST(N'2026-04-14T08:22:13.2638599' AS DateTime2), N'Self-Registration', NULL, NULL)
GO
